.logo {
font-size: 1.5 em;    
}
.main-class{

}
.details-container{

}
.details-image{

}
.details-title{
display: block;
}
.thumbnails-list{

}
.thumbnails-item{

}
.thumbnails-conteiner{

}
.thumbnails-title{

}
thumbnails-anchor{
    display-block
}
